.about {
  margin-bottom: 0;
  margin-top: 0;
}
.about__title {
  margin-top: 0;
}

.about-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-list__item {
  position: relative;
  margin-right: 30px;
  width: 370px;
  height: 294px;
}
//  {
//     width: 320px;
//     margin: 0 auto;
//     height: 600px;
//     background-image: url(../img/Header/ img.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
// }
// @media screen and (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     .wrap {
//         background-image: url(../img/Img2x.jpg);
//     }
// }
// @media screen and (min-width: 768px) {
//     .wrap {
//         background-image: url(../img/Img2x.jpg);
//     }
// }
// @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     .wrap {
//         background-image: url(../img/Img2x.jpg);
//     }
// }
// @media screen and (min-width: 1200px) {
//     .wrap {
//         background-image: url(../img/Img2x.jpg);
//     }
// }
// @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
//     (min-resolution: 192dpi),
//     (min-resolution: 2dppx) {
//     .wrap {
//         background-image: url(../img/Img2x.jpg);
//     }
// }
.about-list__item:last-child {
  margin-right: 0;
}
/*----underline----*/
.about-list__item--underline-box {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  background-color: rgba(47, 48, 58, 0.8);
}
.about-list__item--underline-text {
  margin: 0;
  padding-top: 27px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
