.header__logo {
  display: inline-block;
  margin-right: 93px;
  font-family: Raleway;
  font-style: normal;
  width: 145px;
  height: 31px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.header__logo--color-black {
  color: black;
}
.nav {
  display: flex;
  align-items: center;
}
.nav__menu {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav__item {
  display: inline-block;

  margin-right: 50px;
}
/*--------------------------------подсветка активной страницы-----------------*/

.nav__item.current {
  position: relative;
  color: #2196f3;
}
.nav__item.current::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -34px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  transition: width 0.3s ease-out;
}

/*----правая часть хедера------*/
.contacts {
  display: flex;
  padding: 32px 0;
}

.contacts__item {
  margin-right: 50px;
}

.contacts__icon {
  margin-right: 8px;
}
.contacts__link {
  color: #757575;
  display: flex;
  align-items: center;
}
.contacts__link:hover .contacts__icon {
  fill: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.link:hover,
.link:focus {
  color: #2196f3;
}
